.settings/
.project
*target*
.classpath
.metadata
ricoconverter/log/
ricoconverter-cli/.classpath
ricoconverter-cli/.project
ricoconverter-convert/.classpath
ricoconverter-convert/.project
ricoconverter-doc/.classpath
ricoconverter-doc/.project
ricoconverter-release/.classpath
ricoconverter-release/.project



ricoconverter/ricoconverter-convert/bin/

ricoconverter/.vscode/

*output.xml
